.main-table-container {
    position: relative;
}

/*Loader wrap*/

.loader-wrapper {
    position: absolute;
    top: 30%;
    left: 46%;
}

.loader-wrapper p {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

/*Select*/

select {
    position: absolute;
    right: 0;
    top: 12px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #eaeaea;
    color: #717171;
}
