.Main-table {
    width: 100%;
    border: 5px solid #eaeaea;
    border-radius: 10px;
    padding: 0 10px;
}

.Main-table thead tr th {
    padding: 25px 0px;
    text-align: center;
    color: #717171;
}

.Main-table tr td {
    padding: 10px 0px;
    text-align: center;
    border-bottom: 1px solid #f7f7f7;
    color: #717171;
    font-size: 14px;
    position: relative;
}

.percent-down {
    color: #d90023;
}

.percent-up {
    color: #92dd59;
}

.percent-up img, .percent-down img {
    height: 12px;
    width: 12px;
    position: absolute;
    right: 52px;
}
