.Main-table {
    width: 100%;
    background-color: #273142;
}

.Main-table thead {
    background-color: #313d4f;
}

.Main-table thead tr th {
    text-align: left;
    padding: 10px 25px;
    font-size: 14px;
    color: #7f8fa4;
    text-transform: uppercase;
}

.Main-table tbody tr {
    cursor: pointer;
}

.Main-table tbody tr:hover {
    background-color: #202937;
}

.Main-table tr td {
    position: relative;
    padding: 20px 25px;
    text-align: left;
    vertical-align: middle;
    font-size: 14px;
    color: #fff;
    border-bottom: solid 1px #313d4f;
}

.table-header {
    margin-top: 30px;
    padding: 25px 25px;
    background-color: #273142;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.percent-down {
    color: #d90023;
}

.percent-up {
    color: #92dd59;
}

.Main-table tr td .percent-up img {
    height: 12px;
    width: 12px;
    position: absolute;
    left: 80px;
}

.Main-table tr td .percent-down img {
    height: 12px;
    width: 12px;
    position: absolute;
    left: 80px;
}

.currency-highlight {
    font-weight: bold;
    color: #FFC107;
}
